<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', path='/table.css') }}" rel="stylesheet">

</head>
<body>
<h1>Enter a team</h1>

<form method="post" action="/create-team">
    <label for="team">Team name:</label><br>
    <input type="text" id="team" name="team"><br><br>
    <label for="town">Town name:</label><br>
    <input type="text" id="town" name="town"><br><br>
    <label for="town">Website:</label><br>
    <input type="text" id="website" name="website"><br><br>
    <input class="submit" type="submit" value="Submit">
</form>
<hr>
<h3>Status: {{message if message else "OK"}}</h3>
<hr>
<h3>Current teams</h3>
<table class="styled-table">
    <tr>
        <th>Team</th>
        <th>Town</th>
        <th>Website</th>
    </tr>
    {% for team in teams %}
    <tr>
        <td>{{team.name}}</td>
        <td>{{team.town}}</td>
        {% if team.website %}
            <td><a href="{{team.website}}">{{team.website}}</a></td>
        {% else %}
            <td>Not set</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
